{% extends "base.html" %}
<!-- <body> -->
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'style\about_us.css' %}">
{% endblock %}

<!-- {% include "header.html" %} -->
{% block content %}
<div id="container">
    <h2>О нас</h2>

    <div class="fact">
        Watershop - Передовая компания предоставляющая услуги по доставке воды. Наша компания имеет производство полного
        цикла. Вода поступает из скважины сразу в цех разлива, где она заливается в бутыли обьемом 2, 6 и 19 литров.
        После этого бутыли доставляются на склад в городе и ждут доставку.
    </div>
    <div class="fact">
        Watershop - лауреат премии "лучшая вода Пскова". МЫ поддерживаем высочайшее качество обслуживание и держим
        высокую планку качетва и чистоты воды.
    </div>
    <div class="fact">
        Компания была основана в 1999 году и уже более 20 лет мы делаем все что бы наши клиенты оставались довольными.
    </div>
</div>
{% endblock %}