{% extends "base.html" %}
<!-- <body> -->
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'style\contact.css' %}">
{% endblock %}

<!-- {% include "header.html" %} -->
{% block content %}
<div id="container">
    <h2>Контакты</h2>
    <h4>Производство</h4>
    <p>Адрес: Палкинский район, Палкино, ул. Ленина д.1, пом 201</p>
    <p>Телефон: +7 (911) 111-1111 </p>
    <p>Рукоодитель: Петров Петр Петрович</p>
    <hr>
    <h4>Отдел продаж</h4>
    <p>Адрес: Псков, ул. Калинина, д.2, оф. 33</p>
    <p>Телефон: +7 (911) 111-1111 </p>
    <p>Рукоодитель: Васильев Василий Васильевич</p>
    <hr>
    <h4>Склад</h4>
    <p>Адрес: Псков, ул. Матросова, д.5/p>
    <p>Телефон: +7 (911) 222-1111 </p>
    <p>Рукоодитель: Денисов Денис Дениосович</p>
</div>
{% endblock %}