{% extends "base.html" %}
<!-- <body> -->
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'style\links.css' %}">
{% endblock %}

<!-- {% include "header.html" %} -->
{% block content %}
<div id="container">
    <div class="link_block">
        <a href="https://www.vodovoz-spb.ru/">Вусёлый водовоз</a>
        <p>
            Так как качество воды существенно влияет на здоровье, питьевая вода должна быть чистой, без вредных
            примесей, а её минеральный состав — сбалансированным. Наша компания проявляет искреннюю заботу о
            здоровье
            своих клиентов и поэтому осуществляет доставку питьевой воды самого высокого качества.
        </p>
    </div>
    <div class="link_block">
        <a href="https://vodabudet.ru/">Водный Мир</a>
        <p>
            Компания «Водный Мир» более 20 лет работает на водном рынке Псковской области. В 1998 году мы начинали с
            оптовых поставок продукции лишь одного производителя на Территории Пскова.
        </p>
    </div>
    <div class="link_block">
        <a href="https://www.truewater.ru/">Farwater</a>
        <p>
            Чистая питьевая вода — это гарант нашего здоровья. Однако в условиях современного города с избытком
            экологических проблем она давно уже стала роскошью. Воду из-под крана пить опасно. И даже несмотря на
            то,
            что она предварительно проходит несколько ступеней очистки, к нам в дом жидкость попадает по трубам,
            которые
            были проложены не менее десяти лет назад.
        </p>
    </div>
</div>
{% endblock %}