{% extends "base.html" %}
<!-- <body> -->
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'style\pool.css' %}">
<script src="{% static 'js\pool.js' %}"></script>
{% endblock %}

<!-- {% include "header.html" %} -->
{% block content %}
{% if not result %}
<div id="container">
    <h2 id="head">Купить лицензию системы</h2>
    <div id="comment">Оставьте заявку и менедженр свяжеться с Вами</div>
    <form action="/pool/" method="post" id="callback_form">
        {% csrf_token %}
        <!-- <label for="name">Ваше имя</label>
        {{form.name}}
        <br>
        <label for="phone">Ваш номер </label>
        {{form.phone}}
        <br>
        <input type="submit" value="Отправить"> -->
        {% for field in form %}
        <div class="form_field">
            <label for="{{filed.id_for_label}}">{{field.label}}</label>
            {{field}}
        </div>
        {% endfor %}
        <input type="submit" value="Отправить">
    </form>
</div>
{% else %}
<div id="container">Спасибо за заявку, менеджер скоро свяжется с Вами
    <div class="form">
        <div class="form_field">
            <span>Ваше имя</span><span>{{result.name}}</span>
        </div>
        <div class="form_field">
            <span>Ваш телефон</span><span>{{result.phone}}</span>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}